<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="/static/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/jstree/themes/default/style.min.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/jstree/jstree.min.js"></script>
<script src="/static/DataTables/datatables.min.js" type="text/javascript" charset="utf8"></script>
<div>
    <table id="table_id" class="stripe row-border order-column" style="width:50%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
        </thead>
    </table>
</div>

<!-- NEW and EDIT Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_title">Edit parameter:</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="name"><span class="glyphicon glyphicon-pencil"></span>
                            Name</label>
                        <input type="text" class="form-control" id="name" name="name"
                               placeholder="Enter Name"
                               required="true">
                    </div>
                    <div class="form-group">
                        <label for="value"><span class="glyphicon glyphicon-file"></span>
                            Value</label>
                        <input type="text" class="form-control" id="value" name="value"
                               placeholder="Enter Value" required="true">
                    </div>
                    <button type="submit" class="btn btn-success btn-block"><span
                            class="glyphicon glyphicon-ok"></span> OK
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <form action="/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>
<div id="container"></div>
<script>
    $(function () {
        $('#container').jstree({
            'core': {
                'data': {
                    "url": "/asset_tree/" + $('#id_root_asset').val(),
                    "dataType": "json" // needed only if you do not supply JSON headers
                }
            }
        });
    });


$(document).ready(function () {
    let table = $('#table_id').DataTable({
        "ajax": '/parameters',
        "columns": [
            {'data': 'name'},
            {'data': 'value'},
            {
                "data": null,
                "defaultContent": '<button type="button" class="btn btn-info">Edit</button>'
            }
        ],
        'paging': false,
        'searching': false,
        "info": false,
    });
    $('#table_id tbody').on('click', 'button', function () {
        let data = table.row($(this).parents('tr')).data();
        $('#name').val(data['name']);
        $('#value').val(data['value']);
        $("#myModal").modal();
    });
});


</script>


</body>
</html>