<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="/static/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/jstree/themes/default/style.min.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/jstree/jstree.min.js"></script>
<script src="/static/DataTables/datatables.min.js" type="text/javascript" charset="utf8"></script>
<div>
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </tfoot>
    </table>
</div>

<div>
    <form action="/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>
<div id="container"></div>
<script>
    $(function () {
        $('#container').jstree({
            'core': {
                'data': {
                    "url": "/asset_tree/" + $('#id_root_asset').val(),
                    "dataType": "json" // needed only if you do not supply JSON headers
                }
            }
        });
    });


    $(document).ready(function () {
        $('#table_id').DataTable({
            "ajax": '/parameters',
            "columns": [
                {'data': 'name'},
                {'data': 'value'}
            ],
            'paging': false,
            'searching': false,
            'autoWidth': true,
            'fixedHeader': {
                'header': true,
                'footer': false
            }
        });
    });

</script>


</body>
</html>